:root {
  --wooden: url(https://scrimba.ams3.digitaloceanspaces.com/assets/courses/gdegree/Horror/wooden.jpg);
 
  
  /* COLORS */
  
  --snow: #f4f9e9;
  
  /* FONTS */
  
  --simple-font: 'Noto Sans HK';
  }


body {

  /*
  CHALLENGE: change the background to one you like
  */
  
  --background-image: var(--wooden);
  
  /*
  CHALLENGE: change the main color to one you like!
  */
  --main-color: var(--snow);
  
   /* 
  CHALLENGE: change the font to one you think is cool
  */
  font-family: var(--simple-font);
}


.grid {
  /* 
  BONUS CHALLENGE: adjust how many columns you'd like to have
  */
 column-count: 2;
 column-gap: 10px;
}


.img {
  /* 
  border-image: var(--sweets) 100;
  */
  border-image: var(--nightsky) 100;
}

h1 { font-size: 100px; }
